@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h4>Add a new Stylist</h4>
<hr>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.StylistName)-----
  @Html.TextBoxFor(model => model.StylistName)</p>
  <p>
  @Html.LabelFor(model => model.StylistSpecialty)--
  @Html.TextBoxFor(model => model.StylistSpecialty)
  </p>

  <input type="submit" value="Add new Stylist" />
}
<hr>
<p>@Html.ActionLink("Show all Stylists", "Index")</p>