@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.StylistName)</h4>
<hr>
<div class="col-md-5 text-center">
  <div class="card card-block d-flex">
    <div class="card-body align-items-center justify-content-center">
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.StylistId)

        @Html.LabelFor(model => model.StylistName)
        @Html.EditorFor(model => model.StylistName)
            <hr>

        @Html.LabelFor(model => model.StylistSpecialty)
        @Html.EditorFor(model => model.StylistSpecialty)
            <hr>

        <input type="submit" value="Save" />
      }
    </div>
  </div>
</div>
<hr>
<p>@Html.ActionLink("Back to list", "Index")</p>