@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Client Details</h2>
<hr>
<h3>Client Name: @Html.DisplayFor(model => model.ClientName) | Phone Number: @Html.DisplayFor(model => model.ClientPhone)<h3>
<hr>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
